 
 @media only screen and (max-width:  1423px){
       .main-sector{
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;text-align: center;margin-left: 5%;

       }
       .main-sector div{
         width: 100%;border: 0;
       }
       ul.links{
         display: block;
       }
 }
 
 
 
 
 @media only screen and (max-width:  1150px){

.top-logo-text{
      width: 100%;
      justify-content: center;
      
}
.main-box{
    font-size: 18px;
     
}


.top-logo-text .logo{
    width: 100%;
    margin-top: 0vh;font-size: 20px;

}

.top-text{
    width: 100%; font-size: 20px;

     
}
.logo-text li{
    font-size: 18px;
}
 }
 @media only screen and (max-width:  1150px){


 body{
     overflow-x: hidden;
 }

.table, .school-presentation{
    overflow-x: auto;
    width: 50%;
}



 }
 @media only screen and (max-width:  1220px){
    .block-news{
        width: 100%;
        display: grid;
        grid-template-columns: max-content  ;
        justify-content: center;
        
  
    }
    .block-news div{
        border: solid;
        width: 500px;
        height: auto;
    }
 }
 @media only screen and (max-width:  650px){
    .block-news div{
        border: solid;
        width: 400px;
        height: auto;
    }
    .top-logo-text ul{
        font-size: 15px;
    }
    .picture-links{
        grid-template-columns: max-content max-content;
    }
 }
 @media only screen and (max-width:  450px){
    .block-news div{
        border: solid;
        width: 320px;
        height: auto;
    }
 }

 @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }

/* dropwown menu Responsive code start */
@media screen and (max-width: 1550px){
    .wrapper{
      z-index: 3;
      width: 10vw;
    }
    #head.active{
      width: 4vw;
    }
    #head.active nav .links{
      visibility:visible;
    }
    .wrapper nav{
      padding: 0 20px;

    }
    nav .content .links{
      z-index: 2;
    }
    .content .links li a{
      padding: 8px 13px;
    }
    nav .content .links{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

    }
    nav .content .links li{
      display: flex;
      justify-content: center;
      align-self: center;
    }
    .wrapper .search-box{
      max-width: 100%;
    }
    .wrapper .search-box input{
      padding: 0 100px 0 15px;
    }
    #btn-login{
      font-size: 1.6vw;
      width: fit-content;
      height: 4vw;
      
    }
  }
  
  @media screen and (max-width: 1480px){
    ul.links li a,
    ul.links li a span i{
      font-size: 2.4vw!important;
    }
    ul.links li a img{
      transform: scale(0.8);
    }
    /* .content .links li a,
    .content .links li label{
      line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
    } */
  
    /* dropdown responsive code start */
    /* .content .links ul,
    .content .links .mega-menu,
    .content .links .mega-menu2,
    .content .links .mega-menu3,
    .content .links ul ul{
      position: static;
      opacity: 1;
      visibility: visible;
      background: none;
      max-height: 0px;
      overflow: hidden;
    }
    .content .links #show-features2:checked ~ ul,
    .content .links #show-features4:checked ~ ul,
    .content .links #show-features5:checked ~ ul,
    .content .links #show-features3:checked ~ ul,
    .content .links #show-features:checked ~ ul,
    .content .links #show-services:checked ~ ul,
    .content .links #show-services2:checked ~ ul,
    .content .links #show-drop:checked ~ ul,
    .content .links #show-items:checked ~ ul,
    .content .links #show-items2:checked ~ ul{
      max-height: 100vh;
       
    }
    .content .links ul li{
      margin: 7px 20px;
    }
    .content .links ul li a{
      font-size: 18px;
      line-height: 30px;
      border-radius: 5px!important;
    } */
  }
  
  @media screen and (max-width: 400px){
    .wrapper nav{
      padding: 0 10px;
    }
    .content .logo a img{
      transform-origin: center;
      transform: scale(0.1);
    }
    .wrapper .search-box{
      max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon{
      width: 30px;
      right: 0;
    }
    .wrapper .search-box input{
      padding-right: 30px;
    }
    ul.links li a,
    ul.links li a span i{
      font-size: 5vw!important;
    }
    ul.links li a img{
      transform: scale(0.4);
    }
  }
  
  .dummy-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: -1;
    padding: 0 20px;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .dummy-text h2{
    font-size: 45px;
    margin: 5px 0;
  }



@media screen and (max-width: 980px){

    .IMG-slider  {
      width: 100%;
      height: 500px;
       vertical-align: middle;

    }
  }
  @media screen and (max-width: 780px){
    .IMG-slider  {
      width: 80%;
      height: 200px;
       
      
      
       vertical-align: middle;

    }
    .left, .right{
      margin-left: 0; margin-right: 0;
        
    }
    .sliders{
      margin-top: 15px; border: none;
    }
    .right{
      margin-left: 30px;
    }
  }
 @media screen and (max-width: 1100px){
    .contacts{
      font-size: 30px;white-space: nowrap;
    }
    .fa-book, .fa-facebook-f, .fa-chalkboard-teacher, .fa-envelope{
      font-size: 3rem;
    }
  }
  @media screen and (max-width: 720px){
    .contacts{
      font-size: 25px;
      white-space: nowrap;justify-content: center;
    }
    #login-box{
      justify-content: center; 
    }
    #btn-login{
      width: 200px;height: 40px; font-size: 20px; margin-right:  0px; margin-top: -8vh;   }
    #school-name-full{
      display: none; 
    }
    #school-name{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;display: block;font-size: 30px;
      white-space: normal;
    }
    .fa-book, .fa-facebook, .fa-chalkboard-teacher, .fa-envelope-open{
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 560px){
    .contacts{
font-size: 0.6em;  white-space: nowrap; 
    }
   
  }
